<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6ac66521-7b06-4371-870c-65f7eaa169e5/resourceGroups/Spider_Web_API/providers/Microsoft.Web/sites/Spider-NetCore</ResourceId>
    <ResourceGroup>Spider_Web_API</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://spider-netcore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7e66d73c-601d-4355-97c5-7308491afdfc</ProjectGuid>
    <PublishUrl>https://spider-netcore.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Spider-NetCore</UserName>
    <_SavePWD>true</_SavePWD>
	<EnvironmentName>Azure</EnvironmentName>
  </PropertyGroup>
</Project>